@import "../../../styles/mixins";

.subTitle {
  margin-bottom: 15px;
}

.title {
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 40px;
  }
}

.grid {
  display: grid;
  gap: 20px;

  @include tablet {
    grid-template-columns: var(--grid-cols-2);
  }

  @include laptop {
    &[data-grid-columns="3"] {
      grid-template-columns: var(--grid-cols-3);
    }
    &[data-grid-columns="4"] {
      grid-template-columns: var(--grid-cols-4);
    }
  }
}

.card {
  padding: 25px;
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 20px;
  grid-template-areas:
    "icon title"
    "icon fileSize";
}

.cardIcon {
  grid-area: icon;
}

.cardTitle {
  grid-area: title;
  margin-bottom: 5px;
}

.cardFileSize {
  grid-area: fileSize;
}

.mobilePaginationButtonWrapper {
  margin-top: 30px;
}
