@import "../../../styles/mixins";

.grid {
  display: grid;
  grid-template-columns: var(--grid-cols-2);
  gap: 20px;

  @include laptop {
    &[data-grid-columns="4"] {
      grid-template-columns: var(--grid-cols-4);
    }
    &[data-grid-columns="3"] {
      grid-template-columns: var(--grid-cols-3);
    }
  }
}

.card {
  padding: 20px;

  @include tablet {
    padding: 25px;
  }

  @include desktop {
    padding: 30px;
  }
}

.subTitle {
  margin-bottom: 15px;
}

.title {
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 40px;
  }
}

.cardTitle {
  margin-bottom: 5px;

  @include desktop {
    margin-bottom: 10px;
  }
}
