@import "../../../styles/mixins";

.subTitle {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 40px;
  }

  @include laptop {
    margin-bottom: 50px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.roomTabs {
}

.roomTabsList {
  gap: 40px;
  display: flex;
  overflow: auto;
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;

  @include tablet {
    margin-bottom: 45px;
  }

  @include laptop {
    margin-bottom: 60px;
  }

  @include desktop {
    margin-bottom: 65px;
  }
}

.roomTabTrigger {
  background: inherit;
  border: none;
  position: relative;
  cursor: pointer;
}

.roomTabContent {
  padding: 20px;
  @include tablet {
    padding: 50px;
  }
}

.roomTabContentGrid {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  @include laptop {
    flex-direction: row;
    gap: 133px;
    // height: 480px;
  }

  @include desktop {
    gap: 150px;
  }
}

.roomRight {
  @include laptop {
    width: 50%;
    display: flex;
    gap: 48px;
  }

  @include desktop {
    gap: 72px;
  }
}

.roomRightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include laptop {
    align-items: stretch;
  }

  .arrowsProgress {
    // justify-content: flex-start;
  }
}

.roomPlansZoomButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

.roomPlansTotalArea {
  margin-bottom: 8px;

  @include tablet {
    margin-bottom: 10px;
  }
}

.roomPlansSliderWrapper {
  margin-top: 24px;
  margin-bottom: 40px;
  // width: 225px;
  // height: 334px;

  // @include tablet {
  //   width: 439px;
  //   height: 586px;
  // }

  // @include laptop {
  //   width: 336px;
  //   height: 468px;
  // }

  // @include desktop {
  //   width: 410px;
  //   height: 572px;
  // }

  @include tablet {
    margin-bottom: 24px;
  }

  @include desktop {
    margin-top: 50px;
    margin-bottom: 55px;
  }

  :global(.swiper) {
    width: 100%;
    height: 100%;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.roomPlanPhotoContainer {
  height: 300px;

  @include laptop {
    height: 305px;
  }
}

.roomPlanPhoto {
  max-height: 100%;
}

.arrowsProgress {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  align-items: center;
  gap: 36px;

  .arrow {
    position: absolute;
    &[data-direction="prev"] {
      left: 0;
    }
    &[data-direction="next"] {
      right: 0;
    }

    @include tablet {
      position: static;
      max-width: 325px;
    }
  }
}

.roomLeft {
  margin-top: 50px;

  @include tablet {
    margin-top: 70px;
  }
  @include laptop {
    width: 50%;
    margin: 0;
  }
}

.roomTitle {
  margin-bottom: 30px;

  @include laptop {
    margin-bottom: 35px;
  }
}

.roomDescription {
  margin-bottom: 30px;

  @include laptop {
    margin-bottom: 50px;
  }

  p {
    display: contents;
  }
}

.blockPlansTotalAreaTitle {
  p {
    display: contents;
  }
}

.roomCharacteristics {
  margin-bottom: 25px;
  display: flex;
  column-gap: 20px;
  gap: 20px;
  // flex-direction: column;
  overflow: auto;
  padding-bottom: 5px;

  @include laptop {
    display: grid;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.roomCharacteristicSeparator {
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;

  @include tablet {
    margin-bottom: 15px;
  }
}

.roomCharacteristic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-width: 140px;
  @include laptop {
    min-width: unset;
  }

  // @include laptop {
  //   position: relative;
  //   flex-direction: column;
  //   // gap: 28px;
  // }
}

.roomAdvantages {
  padding: 25px 0;
  // border-style: solid;
  // border-top-width: 1px;
  // border-bottom-width: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;

  @include laptop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.roomAdvantage {
  display: flex;
  gap: 12px;
  align-items: center;
}

.roomAdvantageIconWrapper {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }
}

.roomButtonsWrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  button {
    width: 100%;
  }

  @include tablet {
    flex-direction: row;
  }

  @include laptop {
    gap: 30px;
    button {
      width: var(--button-width);
    }
  }
}

.goToMarketButtonWrapper {
  margin-top: 20px;

  @include tablet {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  @include laptop {
    margin-top: 60px;
  }
}

.modalSliderContent {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100%;
  img {
    width: 100%;
  }
  padding: 30px;

  // @include tablet {
  //   padding: 60px;
  // }

  // @include laptop {
  //   padding: 120px;
  // }
}

.modalSliderArea {
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  display: flex;
}

.line {
  position: absolute;
  bottom: -20px;
  z-index: 3;
  height: 1px;
  width: 100%;
  transform: scale(0);
  transition: transform 0.5s;
  &[data-is-active="true"] {
    transform: scale(1);
  }
}

.lineFull {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
}

.detailsZoomMobile {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  width: 100%;

  @include tablet {
    margin-top: 0;
  }

  // &[data-no-pdf="true"] {
  justify-content: flex-end;
  // }
}

.zoom {
  height: var(--button-height);
  min-width: var(--button-height);
  width: var(--button-height);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.planMobileControls {
  width: 100%;

  @include tablet {
    display: flex;
    align-items: center;
  }
}

.botLeft {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  @include laptop {
    gap: 40px;
  }

  @include desktop {
    gap: 0;
  }
}

.roomTabContentBot {
  display: flex;
  align-items: center;
  @include laptop {
    flex-direction: row;
    gap: 133px;
    // height: 480px;
    &[data-no-pdf="true"] {
    }
  }

  @include desktop {
    gap: 150px;
  }

  .arrowsProgress {
    @include laptop {
      justify-content: unset;
    }
  }
}

.roomTabContentBotLeft {
  width: 100%;
}
