@import "../../../styles/mixins";

@include laptop {
  .grid {
    align-items: center;
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    grid-template-areas:
      "photoWrapper icon"
      "photoWrapper subTitle"
      "photoWrapper title"
      "photoWrapper description"
      "photoWrapper buttonWrapper";
    column-gap: 73px;

    &[data-is-reverse="true"] {
      column-gap: 125px;
      grid-template-areas:
        "icon photoWrapper"
        "subTitle photoWrapper"
        "title photoWrapper"
        "description photoWrapper"
        "buttonWrapper photoWrapper";
    }
  }
}

.iconWrapper {
  grid-area: icon;
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  @include laptop {
    margin-bottom: 30px;
  }
}

.subTitle {
  grid-area: subTitle;
  margin-bottom: 15px;

  @include laptop {
    margin-top: 37.5px;
  }
}

.title {
  grid-area: title;
  margin-bottom: 30px;
}

.photoWrapper {
  grid-area: photoWrapper;
  margin-bottom: 30px;
  @include laptop {
    margin-bottom: 0;
  }
}

.description {
  grid-area: description;
  margin-bottom: 30px;
}

.buttonWrapper {
  grid-area: buttonWrapper;
  @include laptop {
    display: flex;
    margin-bottom: 37.5px;
  }

  &[data-position="center"] {
    justify-content: center;
  }
  &[data-position="right"] {
    justify-content: flex-end;
  }
}
