@import "../../../styles/mixins";

.container {
  @include laptop {
    display: flex;
    align-items: center;
    gap: var(--gap);

    &[data-is-reverse="true"] {
      flex-direction: row-reverse;
    }
  }
}

.left {
  @include laptop {
    width: var(--left-width);
  }
}

.right {
  @include laptop {
    width: var(--right-width);
  }
}

.iconWrapper {
  grid-area: icon;
  display: flex;
  margin-bottom: 15px;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  @include laptop {
    margin-bottom: 30px;
  }

  &[data-position="center"] {
    justify-content: center;
  }
  &[data-position="right"] {
    justify-content: flex-end;
  }
}

.iconBorder {
  width: 75px;
  height: 1px;
}

.top {
  grid-area: top;
}

.subTitle {
  margin-bottom: 15px;

  @include laptop {
    margin-top: 37.5px;
  }
}

.title {
  margin-bottom: 30px;
}

.photoWrapper {
  margin-bottom: 30px;
  @include laptop {
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }
}

.description {
  margin-bottom: 30px;
}

.buttonWrapper {
  @include laptop {
    display: flex;
    margin-bottom: 37.5px;
  }

  &[data-position="center"] {
    justify-content: center;
  }
  &[data-position="right"] {
    justify-content: flex-end;
  }
}
