@import "../../../styles/mixins";

.swiperWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  gap: 20px;
  width: 100%;

  @include tablet {
    gap: 30px;
  }
}

.swiper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;

  @include tablet {
    padding: 0 30px;
  }

  @include laptop {
    max-width: calc(100% - 360px);
  }

  @include desktop {
  }

  @media screen and (min-width: 2000px) {
    max-width: calc(100% - 468px);
  }

  overflow: visible;

  :global(.swiper-slide) {
    // width: auto !important;
    height: auto !important;
  }

  :global(.swiper-wrapper) {
    height: auto;
  }
}

.slideContent {
  position: relative;
}

.slidePhoto {
  width: 100%;
  object-fit: cover;
}

.block {
  min-height: calc(var(--block-min-height) - 44px);
  width: 100%;
  position: relative;

  &::before {
    content: "";
    left: 0;
    bottom: 0;
    opacity: var(--block-background-opacity);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @include laptop {
    min-height: var(--block-min-height);
    position: absolute;
    left: 0;
    max-width: 516px;
    bottom: 0;
  }

  @include desktop {
    max-width: 578px;
  }

  &.withIcon {
    @include laptop {
      max-width: 836px;
    }
    .blockLeft {
      @include laptop {
        max-width: 457px;
      }
    }

    .blockTextWrapper {
      @include laptop {
        max-width: unset;
      }
    }
  }
}

.blockContent {
  position: absolute;
  inset: 0;
  height: 100%;
  padding: 20px;

  display: flex;
  gap: 88px;

  @include tablet {
    padding: 30px;
  }

  @include laptop {
    padding: var(--block-padding-y) var(--block-padding-x);
  }
}

.blockLeft {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  // width: 457px;
}

.blockTextWrapper {
  width: 100%;

  @include laptop {
    max-width: calc(100% - 135px);
  }
}

.blockDescription {
  margin-top: 12px;

  @include laptop {
    margin-top: 20px;
  }
}

.blockBottom {
  display: flex;
  align-items: flex-end;
  margin-bottom: auto;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  @include tablet {
    padding-right: 10px;
  }
}

.blockButton {
  text-decoration-line: underline;
  line-height: 100%;
  font-size: var(--block-button-font-size);
  text-transform: var(--block-button-text-transform);
  font-family: var(--typography-h2-font-family);
}

.blockIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  display: flex;
  gap: 40px;
}
