.colors {
  &[data-text-color="background"] {
    color: var(--color-background);
  }

  &[data-background-color="background"] {
    background-color: var(--color-background);
  }

  &[data-before-background-color="background"] {
    &::before {
      background-color: var(--color-background);
    }
  }

  &[data-border-color="background"] {
    border-color: var(--color-background);
  }

  &[data-fill-color="background"] {
    fill: var(--color-background);
  }

  &[data-stroke-color="background"] {
    stroke: var(--color-background);
  }

  &[data-text-color="text-primary"] {
    color: var(--color-text-primary);
  }

  &[data-background-color="text-primary"] {
    background-color: var(--color-text-primary);
  }

  &[data-before-background-color="text-primary"] {
    &::before {
      background-color: var(--color-text-primary);
    }
  }

  &[data-border-color="text-primary"] {
    border-color: var(--color-text-primary);
  }

  &[data-fill-color="text-primary"] {
    fill: var(--color-text-primary);
  }

  &[data-stroke-color="text-primary"] {
    stroke: var(--color-text-primary);
  }

  &[data-text-color="text-secondary"] {
    color: var(--color-text-secondary);
  }

  &[data-background-color="text-secondary"] {
    background-color: var(--color-text-secondary);
  }

  &[data-before-background-color="text-secondary"] {
    &::before {
      background-color: var(--color-text-secondary);
    }
  }

  &[data-border-color="text-secondary"] {
    border-color: var(--color-text-secondary);
  }

  &[data-fill-color="text-secondary"] {
    fill: var(--color-text-secondary);
  }

  &[data-stroke-color="text-secondary"] {
    stroke: var(--color-text-secondary);
  }

  &[data-text-color="accent"] {
    color: var(--color-accent);
  }

  &[data-background-color="accent"] {
    background-color: var(--color-accent);
  }

  &[data-before-background-color="accent"] {
    &::before {
      background-color: var(--color-accent);
    }
  }

  &[data-border-color="accent"] {
    border-color: var(--color-accent);
  }

  &[data-fill-color="accent"] {
    fill: var(--color-accent);
  }

  &[data-stroke-color="accent"] {
    stroke: var(--color-accent);
  }

  &[data-text-color="accent-hover"] {
    color: var(--color-accent-hover);
  }

  &[data-background-color="accent-hover"] {
    background-color: var(--color-accent-hover);
  }

  &[data-before-background-color="accent-hover"] {
    &::before {
      background-color: var(--color-accent-hover);
    }
  }

  &[data-border-color="accent-hover"] {
    border-color: var(--color-accent-hover);
  }

  &[data-fill-color="accent-hover"] {
    fill: var(--color-accent-hover);
  }

  &[data-stroke-color="accent-hover"] {
    stroke: var(--color-accent-hover);
  }

  &[data-text-color="stroke"] {
    color: var(--color-stroke);
  }

  &[data-background-color="stroke"] {
    background-color: var(--color-stroke);
  }

  &[data-before-background-color="stroke"] {
    &::before {
      background-color: var(--color-stroke);
    }
  }

  &[data-border-color="stroke"] {
    border-color: var(--color-stroke);
  }

  &[data-fill-color="stroke"] {
    fill: var(--color-stroke);
  }

  &[data-stroke-color="stroke"] {
    stroke: var(--color-stroke);
  }

  &[data-text-color="extra-1"] {
    color: var(--custom-theme-color-extra-1);
  }

  &[data-background-color="extra-1"] {
    background-color: var(--custom-theme-color-extra-1);
  }

  &[data-before-background-color="extra-1"] {
    &::before {
      background-color: var(--custom-theme-color-extra-1);
    }
  }

  &[data-fill-color="extra-1"] {
    fill: var(--custom-theme-color-extra-1);
  }

  &[data-stroke-color="extra-1"] {
    stroke: var(--custom-theme-color-extra-1);
  }

  &[data-border-color="extra-1"] {
    border-color: var(--custom-theme-color-extra-1);
  }

  &[data-text-color="extra-2"] {
    color: var(--custom-theme-color-extra-2);
  }

  &[data-background-color="extra-2"] {
    background-color: var(--custom-theme-color-extra-2);
  }

  &[data-before-background-color="extra-2"] {
    &::before {
      background-color: var(--custom-theme-color-extra-2);
    }
  }

  &[data-border-color="extra-2"] {
    border-color: var(--custom-theme-color-extra-2);
  }

  &[data-fill-color="extra-2"] {
    fill: var(--custom-theme-color-extra-2);
  }

  &[data-stroke-color="extra-2"] {
    stroke: var(--custom-theme-color-extra-2);
  }

  &[data-text-color="extra-3"] {
    color: var(--custom-theme-color-extra-3);
  }

  &[data-background-color="extra-3"] {
    background-color: var(--custom-theme-color-extra-3);
  }

  &[data-before-background-color="extra-3"] {
    &::before {
      background-color: var(--custom-theme-color-extra-3);
    }
  }

  &[data-border-color="extra-3"] {
    border-color: var(--custom-theme-color-extra-3);
  }

  &[data-fill-color="extra-3"] {
    fill: var(--custom-theme-color-extra-3);
  }

  &[data-stroke-color="extra-1"] {
    stroke: var(--custom-theme-color-extra-3);
  }

  &[data-text-color="extra-4"] {
    color: var(--custom-theme-color-extra-4);
  }

  &[data-background-color="extra-4"] {
    background-color: var(--custom-theme-color-extra-4);
  }

  &[data-before-background-color="extra-4"] {
    &::before {
      background-color: var(--custom-theme-color-extra-4);
    }
  }

  &[data-fill-color="extra-4"] {
    fill: var(--custom-theme-color-extra-4);
  }

  &[data-stroke-color="extra-4"] {
    stroke: var(--custom-theme-color-extra-4);
  }

  &[data-border-color="extra-4"] {
    border-color: var(--custom-theme-color-extra-4);
  }

  &[data-text-color="injected"] {
    color: var(--text-color-injected);
  }

  &[data-background-color="injected"] {
    background-color: var(--background-color-injected);
  }

  &[data-before-background-color="injected"] {
    &::before {
      background-color: var(--before-background-color-injected);
    }
  }

  &[data-border-color="injected"] {
    border-color: var(--border-color-injected);
  }

  &[data-fill-color="injected"] {
    fill: var(--fill-color-injected);
  }

  &[data-stroke-color="injected"] {
    stroke: var(--stroke-color-injected);
  }
}
