html,
ui-kit-container {
  --button-padding: 0 15px;
  --button-height: 50px;
  --button-font-size: 14px;
  --button-width: 100%;
  --button-min-width: 0;
  --arrow-cube-dimensions: 50px;
  --grid-cols-2: repeat(2, 1fr);
  --grid-cols-3: repeat(3, 1fr);
  --grid-cols-4: repeat(4, 1fr);
  --arrow-long-width: 34px;
  --arrow-long-height: 16px;
  --typography-h2-font-size: var(--typography-h2-font-size-mobile);
  --typography-h3-font-size: var(--typography-h3-font-size-mobile);
  --typography-h4-font-size: var(--typography-h4-font-size-mobile);
  --typography-h5-font-size: var(--typography-h5-font-size-mobile);
  --typography-p1-font-size: var(--typography-p1-font-size-mobile);
  --typography-p2-font-size: var(--typography-p2-font-size-mobile);
}
@media (min-width: 768px) {
  html,
ui-kit-container {
    --button-width: auto;
    --button-min-width: 220px;
    --button-font-size: 16px;
    --typography-h2-font-size: var(--typography-h2-font-size-tablet);
    --typography-h3-font-size: var(--typography-h3-font-size-tablet);
    --typography-h4-font-size: var(--typography-h4-font-size-tablet);
    --typography-h5-font-size: var(--typography-h5-font-size-tablet);
    --typography-p1-font-size: var(--typography-p1-font-size-tablet);
    --typography-p2-font-size: var(--typography-p2-font-size-tablet);
  }
}
@media (min-width: 1150px) {
  html,
ui-kit-container {
    --typography-h2-font-size: var(--typography-h2-font-size-laptop);
    --typography-h3-font-size: var(--typography-h3-font-size-laptop);
    --typography-h4-font-size: var(--typography-h4-font-size-laptop);
    --typography-h5-font-size: var(--typography-h5-font-size-laptop);
    --typography-p1-font-size: var(--typography-p1-font-size-laptop);
    --typography-p2-font-size: var(--typography-p2-font-size-laptop);
  }
}
@media (min-width: 1550px) {
  html,
ui-kit-container {
    --arrow-cube-dimensions: 60px;
    --typography-h2-font-size: var(--typography-h2-font-size-desktop);
    --typography-h3-font-size: var(--typography-h3-font-size-desktop);
    --typography-h4-font-size: var(--typography-h4-font-size-desktop);
    --typography-h5-font-size: var(--typography-h5-font-size-desktop);
    --typography-p1-font-size: var(--typography-p1-font-size-desktop);
    --typography-p2-font-size: var(--typography-p2-font-size-desktop);
  }
}

[data-theme=light],
[data-theme=dark],
[data-theme=custom] {
  --arrow-cube-default-icon-color: var(--color-text-primary);
  --button-default-text-color: var(--color-text-primary);
  --arrow-long-default-icon-color: var(--color-text-primary);
  --input-default-1-border-color: var(--color-stroke);
  --input-default-1-border-width: 0 0 1px 0;
  --input-default-1-border-radius: 0;
  --input-default-1-text-color: var(--color-text-primary);
  --input-default-1-padding: 0;
  --input-default-1-height: 60px;
  --input-default-1-error-color: #d64747;
  --input-default-1-background-color: transparent;
  --input-default-2-border-color: var(--color-stroke);
  --input-default-2-border-width: 1px 1px 1px 1px;
  --input-default-2-text-color: var(--color-text-primary);
  --input-default-2-padding: 0 20px;
  --input-default-2-height: 60px;
  --input-default-2-error-color: #d64747;
  --input-default-2-background-color: transparent;
}

[data-theme=light],
[data-theme=dark] {
  --color-accent: #a07f5d;
  --color-accent-hover: #b58f68;
}

[data-theme=dark] {
  --color-text-primary: #fcfcfc;
  --color-text-secondary: #9a9a9a;
  --color-background: #2d2d2d;
  --color-stroke: #535353;
}

[data-theme=dark],
[data-theme=custom] {
  --stroke-border-radius: 0;
  --button-default-bg-color: var(--color-accent);
  --button-default-hover-bg: var(--color-accent-hover);
  --button-default-border: none;
  --button-default-border-radius: 0;
  --button-default-hover-border: none;
  --arrow-cube-default-bg-color: var(--color-accent);
  --arrow-cube-default-hover-bg: var(--color-accent-hover);
  --arrow-cube-default-border: none;
  --arrow-cube-cube-default-border-radius: 0;
  --arrow-cube-default-hover-border: none;
  --input-default-2-border-radius: 0;
}

[data-theme=light] {
  --color-text-primary: #2d2d2d;
  --color-text-secondary: #8a8a8a;
  --color-background: #fcfcfc;
  --color-stroke: #dedede;
  --stroke-border-radius: 10px;
  --button-default-bg-color: var(--color-background);
  --button-default-hover-bg: var(--color-background);
  --button-default-border: 1px solid var(--color-accent);
  --button-default-border-radius: 10px;
  --button-default-hover-border: 1px solid var(--color-accent-hover);
  --arrow-cube-default-bg-color: var(--color-background);
  --arrow-cube-default-hover-bg: var(--color-background);
  --arrow-cube-default-border: 1px solid var(--color-accent);
  --arrow-cube-default-border-radius: 10px;
  --arrow-cube-default-hover-border: 1px solid var(--color-accent-hover);
  --input-default-2-border-radius: 10px;
}

[data-theme=custom] {
  --color-accent: var(--custom-theme-color-accent);
  --color-accent-hover: var(--custom-theme-color-accent-hover);
  --color-text-primary: var(--custom-theme-color-text-primary);
  --color-text-secondary: var(--custom-theme-color-text-secondary);
  --color-background: var(--custom-theme-color-background);
  --color-stroke: var(--custom-theme-color-stroke);
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: initial;
  box-sizing: border-box;
  text-decoration: none;
}

blockquote,
dl,
body,
html,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}
.ColorsInjector_colors__3i6Kw[data-text-color=background] {
  color: var(--color-background);
}
.ColorsInjector_colors__3i6Kw[data-background-color=background] {
  background-color: var(--color-background);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=background]::before {
  background-color: var(--color-background);
}
.ColorsInjector_colors__3i6Kw[data-border-color=background] {
  border-color: var(--color-background);
}
.ColorsInjector_colors__3i6Kw[data-text-color=text-primary] {
  color: var(--color-text-primary);
}
.ColorsInjector_colors__3i6Kw[data-background-color=text-primary] {
  background-color: var(--color-text-primary);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=text-primary]::before {
  background-color: var(--color-text-primary);
}
.ColorsInjector_colors__3i6Kw[data-border-color=text-primary] {
  border-color: var(--color-text-primary);
}
.ColorsInjector_colors__3i6Kw[data-text-color=text-secondary] {
  color: var(--color-text-secondary);
}
.ColorsInjector_colors__3i6Kw[data-background-color=text-secondary] {
  background-color: var(--color-text-secondary);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=text-secondary]::before {
  background-color: var(--color-text-secondary);
}
.ColorsInjector_colors__3i6Kw[data-border-color=text-secondary] {
  border-color: var(--color-text-secondary);
}
.ColorsInjector_colors__3i6Kw[data-text-color=accent] {
  color: var(--color-accent);
}
.ColorsInjector_colors__3i6Kw[data-background-color=accent] {
  background-color: var(--color-accent);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=accent]::before {
  background-color: var(--color-accent);
}
.ColorsInjector_colors__3i6Kw[data-border-color=accent] {
  border-color: var(--color-accent);
}
.ColorsInjector_colors__3i6Kw[data-text-color=accent-hover] {
  color: var(--color-accent-hover);
}
.ColorsInjector_colors__3i6Kw[data-background-color=accent-hover] {
  background-color: var(--color-accent-hover);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=accent-hover]::before {
  background-color: var(--color-accent-hover);
}
.ColorsInjector_colors__3i6Kw[data-border-color=accent-hover] {
  border-color: var(--color-accent-hover);
}
.ColorsInjector_colors__3i6Kw[data-text-color=stroke] {
  color: var(--color-stroke);
}
.ColorsInjector_colors__3i6Kw[data-background-color=stroke] {
  background-color: var(--color-stroke);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=stroke]::before {
  background-color: var(--color-stroke);
}
.ColorsInjector_colors__3i6Kw[data-border-color=stroke] {
  border-color: var(--color-stroke);
}
.ColorsInjector_colors__3i6Kw[data-text-color=extra-1] {
  color: var(--custom-theme-color-extra-1);
}
.ColorsInjector_colors__3i6Kw[data-background-color=extra-1] {
  background-color: var(--custom-theme-color-extra-1);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=extra-1]::before {
  background-color: var(--custom-theme-color-extra-1);
}
.ColorsInjector_colors__3i6Kw[data-border-color=extra-1] {
  border-color: var(--custom-theme-color-extra-1);
}
.ColorsInjector_colors__3i6Kw[data-text-color=extra-2] {
  color: var(--custom-theme-color-extra-2);
}
.ColorsInjector_colors__3i6Kw[data-background-color=extra-2] {
  background-color: var(--custom-theme-color-extra-2);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=extra-2]::before {
  background-color: var(--custom-theme-color-extra-2);
}
.ColorsInjector_colors__3i6Kw[data-border-color=extra-2] {
  border-color: var(--custom-theme-color-extra-2);
}
.ColorsInjector_colors__3i6Kw[data-text-color=extra-3] {
  color: var(--custom-theme-color-extra-3);
}
.ColorsInjector_colors__3i6Kw[data-background-color=extra-3] {
  background-color: var(--custom-theme-color-extra-3);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=extra-3]::before {
  background-color: var(--custom-theme-color-extra-3);
}
.ColorsInjector_colors__3i6Kw[data-border-color=extra-3] {
  border-color: var(--custom-theme-color-extra-3);
}
.ColorsInjector_colors__3i6Kw[data-text-color=extra-4] {
  color: var(--custom-theme-color-extra-4);
}
.ColorsInjector_colors__3i6Kw[data-background-color=extra-4] {
  background-color: var(--custom-theme-color-extra-4);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=extra-4]::before {
  background-color: var(--custom-theme-color-extra-4);
}
.ColorsInjector_colors__3i6Kw[data-border-color=extra-5] {
  border-color: var(--custom-theme-color-extra-4);
}
.ColorsInjector_colors__3i6Kw[data-text-color=injected] {
  color: var(--text-color-injected);
}
.ColorsInjector_colors__3i6Kw[data-background-color=injected] {
  background-color: var(--background-color-injected);
}
.ColorsInjector_colors__3i6Kw[data-before-background-color=injected]::before {
  background-color: var(--before-background-color-injected);
}
.ColorsInjector_colors__3i6Kw[data-border-color=injected] {
  border-color: var(--border-color-injected);
}
.Arrow_baseStyles__3dAVi {
  cursor: pointer;
  transition: 0.25s;
}
.Arrow_baseStyles__3dAVi[data-direction=prev] {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.Arrow_baseStyles__3dAVi path {
  stroke: var(--arrow-icon-color);
}

.Arrow_cube__1vffA {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--arrow-cube-dimensions);
  height: var(--arrow-cube-dimensions);
}

.Arrow_cubeDefault__1Vyaw {
  border-radius: var(--arrow-cube-default-border-radius);
  background-color: var(--arrow-cube-default-bg-color);
  border: var(--arrow-cube-default-border);
  border-radius: var(--arrow-cube-default-border-radius);
  --arrow-icon-color: var(--arrow-cube-default-icon-color);
}
.Arrow_cubeDefault__1Vyaw:hover {
  background-color: var(--arrow-cube-default-hover-bg);
  border: var(--arrow-cube-default-hover-border);
}

.Arrow_cubePrimary__3SL2g {
  border-radius: var(--arrow-cube-primary-border-radius);
  background-color: var(--arrow-cube-primary-bg-color);
  border-color: var(--arrow-cube-primary-border-color);
  border-width: var(--arrow-cube-primary-border-width);
  border-style: solid;
  --arrow-icon-color: var(--arrow-cube-primary-icon-color);
}
.Arrow_cubePrimary__3SL2g:hover {
  background-color: var(--arrow-cube-primary-hover-bg-color);
  border-color: var(--arrow-cube-primary-hover-border-color);
}

.Arrow_cubeSecondary__61zns {
  border-radius: var(--arrow-cube-secondary-border-radius);
  background-color: var(--arrow-cube-secondary-bg-color);
  color: var(--arrow-cube-secondary-text-color);
  border-color: var(--arrow-cube-secondary-border-color);
  border-width: var(--arrow-cube-secondary-border-width);
  border-style: solid;
  --arrow-icon-color: var(--arrow-cube-secondary-icon-color);
}
.Arrow_cubeSecondary__61zns:hover {
  background-color: var(--arrow-cube-secondary-hover-bg-color);
  color: var(--arrow-cube-secondary-hover-text-color);
  border-color: var(--arrow-cube-secondary-hover-border-color);
}

.Arrow_cubeTertiary__3AqH9 {
  border-radius: var(--arrow-cube-tertiary-border-radius);
  background-color: var(--arrow-cube-tertiary-bg-color);
  color: var(--arrow-cube-tertiary-text-color);
  border-color: var(--arrow-cube-tertiary-border-color);
  border-width: var(--arrow-cube-tertiary-border-width);
  border-style: solid;
  --arrow-icon-color: var(--arrow-cube-tertiary-icon-color);
}
.Arrow_cubeTertiary__3AqH9:hover {
  background-color: var(--arrow-cube-tertiary-hover-bg-color);
  color: var(--arrow-cube-tertiary-hover-text-color);
  border-color: var(--arrow-cube-tertiary-hover-border-color);
}

.Arrow_long__2rzBa {
  border: none;
  background: transparent;
  outline: none;
  width: var(--arrow);
}

.Arrow_longDefault__1scnn {
  --arrow-icon-color: var(--arrow-long-default-icon-color);
}

.Arrow_longCustom__2Zmhw {
  --arrow-icon-color: var(--arrow-long-custom-icon-color);
}
.Button_base__PVhjF {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
  cursor: pointer;
  height: var(--button-height);
  padding: var(--button-padding);
  width: var(--button-width);
  min-width: var(--button-min-width);
  font-size: var(--button-font-size);
}
.Button_base__PVhjF[data-full-width] {
  width: 100%;
}
.Button_base__PVhjF:hover {
  font-weight: 500;
}

.Button_default__33mCp {
  background-color: var(--button-default-bg-color);
  border: var(--button-default-border);
  border-radius: var(--button-default-border-radius);
  color: var(--button-default-text-color);
}
.Button_default__33mCp:hover {
  background-color: var(--button-default-hover-bg);
  border: var(--button-default-hover-border);
}

.Button_primary__3jBET {
  border-radius: var(--button-primary-border-radius);
  background-color: var(--button-primary-bg-color);
  color: var(--button-primary-text-color);
  border-color: var(--button-primary-border-color);
  border-width: var(--button-primary-border-width);
  border-style: solid;
}
.Button_primary__3jBET:hover {
  background-color: var(--button-primary-hover-bg-color);
  color: var(--button-primary-hover-text-color);
  border-color: var(--button-primary-hover-border-color);
}

.Button_secondary__oC_Jv {
  border-radius: var(--button-secondary-border-radius);
  background-color: var(--button-secondary-bg-color);
  color: var(--button-secondary-text-color);
  border-color: var(--button-secondary-border-color);
  border-width: var(--button-secondary-border-width);
  border-style: solid;
}
.Button_secondary__oC_Jv:hover {
  background-color: var(--button-secondary-hover-bg-color);
  color: var(--button-secondary-hover-text-color);
  border-color: var(--button-secondary-hover-border-color);
}

.Button_tertiary__33oAS {
  border-radius: var(--button-tertiary-border-radius);
  background-color: var(--button-tertiary-bg-color);
  color: var(--button-tertiary-text-color);
  border-color: var(--button-tertiary-border-color);
  border-width: var(--button-tertiary-border-width);
  border-style: solid;
}
.Button_tertiary__33oAS:hover {
  background-color: var(--button-tertiary-hover-bg-color);
  color: var(--button-tertiary-hover-text-color);
  border-color: var(--button-tertiary-hover-border-color);
}
.Typography_h2__1bPzO {
  line-height: var(--typography-h2-line-height);
  letter-spacing: var(--typography-h2-letter-spacing);
  font-family: var(--typography-h2-font-family);
  text-transform: var(--typography-h2-text-transform);
  font-size: var(--typography-h2-font-size);
}

.Typography_h3__MWowg {
  line-height: var(--typography-h3-line-height);
  letter-spacing: var(--typography-h3-letter-spacing);
  font-family: var(--typography-h3-font-family);
  text-transform: var(--typography-h3-text-transform);
  font-size: var(--typography-h3-font-size);
}

.Typography_h4__r4N0H {
  line-height: var(--typography-h4-line-height);
  letter-spacing: var(--typography-h4-letter-spacing);
  font-family: var(--typography-h4-font-family);
  text-transform: var(--typography-h4-text-transform);
  font-size: var(--typography-h4-font-size);
}

.Typography_h5__1IbkR {
  line-height: var(--typography-h5-line-height);
  letter-spacing: var(--typography-h5-letter-spacing);
  font-family: var(--typography-h5-font-family);
  text-transform: var(--typography-h5-text-transform);
  font-size: var(--typography-h5-font-size);
}

.Typography_p1__3-evR {
  line-height: var(--typography-p1-line-height);
  letter-spacing: var(--typography-p1-letter-spacing);
  font-family: var(--typography-p1-font-family);
  text-transform: var(--typography-p1-text-transform);
  font-size: var(--typography-p1-font-size);
}

.Typography_p2__3slmg {
  line-height: var(--typography-p2-line-height);
  letter-spacing: var(--typography-p2-letter-spacing);
  font-family: var(--typography-p2-font-family);
  text-transform: var(--typography-p2-text-transform);
  font-size: var(--typography-p2-font-size);
}

.Typography_accent__2D5_i {
  color: var(--color-accent);
}

.Typography_primary__2Bao0 {
  color: var(--color-text-primary);
}

.Typography_secondary__2VeqR {
  color: var(--color-text-secondary);
}

.Typography_extra-1__3uGS9 {
  color: var(--custom-theme-color-extra-1);
}

.Typography_extra-2__3Unq7 {
  color: var(--custom-theme-color-extra-2);
}

.Typography_extra-3__1be2x {
  color: var(--custom-theme-color-extra-3);
}

.Typography_extra-4__1VX1H {
  color: var(--custom-theme-color-extra-4);
}

.Typography_injected__2RHa5 {
  color: var(--injected-color);
}
.ProgressNumbers_wrapper__2OKeu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.ProgressNumbers_valueEnter__1SOPU {
  -webkit-transform: translate(-300%, 300%);
          transform: translate(-300%, 300%);
}

.ProgressNumbers_valueEnterActive__2Pits {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.ProgressNumbers_valueExit__1qB7i {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.ProgressNumbers_valueExitActive__HdFOq {
  -webkit-transform: translate(300%, -300%);
          transform: translate(300%, -300%);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.ContentContainer_style__1oxpH {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
@media (min-width: 768px) {
  .ContentContainer_style__1oxpH {
    padding: 0 30px;
  }
}
@media (min-width: 1150px) {
  .ContentContainer_style__1oxpH {
    max-width: 1300px;
  }
}
@media (min-width: 1550px) {
  .ContentContainer_style__1oxpH {
    max-width: 1620px;
  }
}
.Section_section__oNcdC {
  margin: 0 auto;
  position: relative;
  letter-spacing: normal;
  padding: 40px 0;
}
@media (min-width: 768px) {
  .Section_section__oNcdC {
    padding: 60px 0;
  }
}
@media (min-width: 1150px) {
  .Section_section__oNcdC {
    padding: 80px 0;
  }
}
.Card_style__PuGOO {
  border-radius: var(--stroke-border-radius);
  border-width: 1px;
  border-style: solid;
}
.ResponsiveVideoPlayer_component__3TSuo {
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
  position: relative;
}
.ResponsiveVideoPlayer_component__3TSuo .react-player__shadow {
  background: var(--color-accent) !important;
  transition: background-color 0.25s !important;
  height: 60px !important;
  width: 60px !important;
}
.ResponsiveVideoPlayer_component__3TSuo .react-player__shadow:hover {
  background: var(--color-accent-hover) !important;
}
@media (min-width: 768px) {
  .ResponsiveVideoPlayer_component__3TSuo .react-player__shadow {
    height: 80px !important;
    width: 80px !important;
  }
}
@media (min-width: 1150px) {
  .ResponsiveVideoPlayer_component__3TSuo .react-player__shadow {
    height: 120px !important;
    width: 120px !important;
  }
}

.ResponsiveVideoPlayer_videoWrapper__1HUHo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ResponsiveVideoPlayer_videoWrapper__1HUHo video {
  object-fit: cover;
}
.Modal_overlay__zuczz {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
}
.Modal_overlay__zuczz::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: var(--overlay-background-opacity);
}

.Modal_overlayEnter__V_b6q {
  opacity: 0;
}

.Modal_overlayEnterActive__1qmyx {
  transition: opacity var(--animation-duration-enter);
  opacity: 1;
}

.Modal_overlayExit__2jVCD {
  opacity: 1;
}

.Modal_overlayExitActive__3k7Mj {
  transition: opacity var(--animation-duration-exit);
  opacity: 0;
}
.Arrows_wrapper__32_xj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.Arrows_title__30Bn2 {
  font-size: 55px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: Arial;
}

.Arrows_arrowsList__1St6m {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
}

.Arrows_arrowTypeWrapper__3SA_Z {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  font-size: 35px;
}

.Arrows_arrowType__25CJS {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
}
.Buttons_wrapper__2wnwx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.Buttons_title__IrnvG {
  font-size: 55px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: Arial;
}

.Buttons_buttonsList__13OpA {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
}

.Buttons_buttonTypeWrapper__1mGtu {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  font-size: 35px;
}
.CustomThemeColors_wrapper__2JT6B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.CustomThemeColors_title__3eIOM {
  font-size: 55px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: Arial;
}

.CustomThemeColors_colorsList__33ub1 {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
  align-items: center;
}

.CustomThemeColors_color__2r3T9 {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  align-items: center;
}

.CustomThemeColors_colorBg__RQNiF {
  background-color: var(--theme-color);
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.CustomThemeColors_colorText__2VQs0 {
  font-size: 35px;
  font-family: Arial;
  text-transform: uppercase;
  color: var(--theme-color);
}
.Typographies_wrapper__tv_uU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.Typographies_title__3UqcB {
  font-size: 55px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: Arial;
}

.Typographies_typographiesList__3rqy0 {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
  align-items: center;
}
.Advantages_subTitle__3ZRaU {
  margin-bottom: 15px;
}

.Advantages_title__jsXmS {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .Advantages_title__jsXmS {
    margin-bottom: 40px;
  }
}

.Advantages_grid__3W4RU {
  display: grid;
  grid-row-gap: 30px;
  row-gap: 30px;
}
@media (min-width: 768px) {
  .Advantages_grid__3W4RU {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    row-gap: 40px;
    grid-column-gap: 20px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (min-width: 1150px) {
  .Advantages_grid__3W4RU[data-grid-columns="3"] {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Advantages_grid__3W4RU[data-grid-columns="4"] {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.Advantages_card__1nmuc {
  display: grid;
  grid-template-columns: 15px 1fr;
  grid-template-areas: "icon title" "icon subTitle";
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}
@media (min-width: 1550px) {
  .Advantages_card__1nmuc {
    grid-column-gap: 20px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

.Advantages_cardIconWrapper__3W8eC {
  grid-area: icon;
  position: relative;
  top: 4px;
}

.Advantages_cardTitle__Ly1R4 {
  grid-area: title;
}

.Advantages_cardSubTitle__1Km3m {
  grid-area: subTitle;
  margin-top: 10px;
}
@media (min-width: 1550px) {
  .Advantages_cardSubTitle__1Km3m {
    margin-top: 15px;
  }
}
.Characteristics_grid__1-CQs {
  display: grid;
  grid-template-columns: var(--grid-cols-2);
  grid-gap: 20px;
  gap: 20px;
}
@media (min-width: 1150px) {
  .Characteristics_grid__1-CQs[data-grid-columns="4"] {
    grid-template-columns: var(--grid-cols-4);
  }
  .Characteristics_grid__1-CQs[data-grid-columns="3"] {
    grid-template-columns: var(--grid-cols-3);
  }
}

.Characteristics_card__2JoG9 {
  padding: 20px;
}
@media (min-width: 768px) {
  .Characteristics_card__2JoG9 {
    padding: 25px;
  }
}
@media (min-width: 1550px) {
  .Characteristics_card__2JoG9 {
    padding: 30px;
  }
}

.Characteristics_subTitle__3p3Pj {
  margin-bottom: 15px;
}

.Characteristics_title__1USI5 {
  margin-bottom: 30px;
}
@media (min-width: 1550px) {
  .Characteristics_title__1USI5 {
    margin-bottom: 40px;
  }
}

.Characteristics_cardTitle__3aZG_ {
  margin-bottom: 5px;
}
@media (min-width: 1550px) {
  .Characteristics_cardTitle__3aZG_ {
    margin-bottom: 10px;
  }
}
.Documentation_subTitle__3oLt7 {
  margin-bottom: 15px;
}

.Documentation_title__zb3Z1 {
  margin-bottom: 30px;
}
@media (min-width: 1550px) {
  .Documentation_title__zb3Z1 {
    margin-bottom: 40px;
  }
}

.Documentation_grid__3VA6n {
  display: grid;
  grid-gap: 20px;
  gap: 20px;
}
@media (min-width: 768px) {
  .Documentation_grid__3VA6n {
    grid-template-columns: var(--grid-cols-2);
  }
}
@media (min-width: 1150px) {
  .Documentation_grid__3VA6n[data-grid-columns="3"] {
    grid-template-columns: var(--grid-cols-3);
  }
  .Documentation_grid__3VA6n[data-grid-columns="4"] {
    grid-template-columns: var(--grid-cols-4);
  }
}

.Documentation_card__g9D0Q {
  padding: 25px;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-column-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  grid-template-areas: "icon title" "icon fileSize";
}

.Documentation_cardIcon__1xe8x {
  grid-area: icon;
}

.Documentation_cardTitle__bS-4V {
  grid-area: title;
  margin-bottom: 5px;
}

.Documentation_cardFileSize__2zd7L {
  grid-area: fileSize;
}

.Documentation_mobilePaginationButtonWrapper__3GuNY {
  margin-top: 30px;
}
.Input_default-1__1aVQD {
  --input-border-width: var(--input-default-1-border-width);
  --input-border-color: var(--input-default-1-border-color);
  --input-border-radius: var(--input-default-1-border-radius);
  --input-padding: var(--input-default-1-padding);
  --input-background-color: vavr(--input-default-1-background-color);
  --input-text-color: var(--input-default-1-text-color);
  --input-error-color: var(--input-default-1-error-color);
  --input-height: var(--input-default-1-height);
}

.Input_default-2__3M3Ar {
  --input-border-width: var(--input-default-2-border-width);
  --input-border-color: var(--input-default-2-border-color);
  --input-border-radius: var(--input-default-2-border-radius);
  --input-padding: var(--input-default-2-padding);
  --input-background-color: vavr(--input-default-2-background-color);
  --input-text-color: var(--input-default-2-text-color);
  --input-error-color: var(--input-default-2-error-color);
  --input-height: var(--input-default-2-height);
}

.Input_primary__haT9S {
  --input-border-width: var(--input-primary-border-width);
  --input-border-color: var(--input-primary-border-color);
  --input-border-radius: var(--input-primary-border-radius);
  --input-padding: var(--input-primary-padding);
  --input-background-color: vavr(--input-primary-background-color);
  --input-text-color: var(--input-primary-text-color);
  --input-error-color: var(--input-primary-error-color);
  --input-height: var(--input-primary-height);
}

.Input_secondary__3GipI {
  --input-border-width: var(--input-secondary-border-width);
  --input-border-color: var(--input-secondary-border-color);
  --input-border-radius: var(--input-secondary-border-radius);
  --input-padding: var(--input-secondary-padding);
  --input-background-color: vavr(--input-secondary-background-color);
  --input-text-color: var(--input-secondary-text-color);
  --input-error-color: var(--input-secondary-error-color);
  --input-height: var(--input-secondary-height);
}

.Input_tertiary__2rmmN {
  --input-border-width: var(--input-tertiary-border-width);
  --input-border-color: var(--input-tertiary-border-color);
  --input-border-radius: var(--input-tertiary-border-radius);
  --input-padding: var(--input-tertiary-padding);
  --input-background-color: vavr(--input-tertiary-background-color);
  --input-text-color: var(--input-tertiary-text-color);
  --input-error-color: var(--input-tertiary-error-color);
  --input-height: var(--input-tertiary-height);
}

.Input_wrapper__3Lhd1 {
  position: relative;
  width: 100%;
}

.Input_input__2WoaP {
  --input-height-calculated: calc(var(--input-height) - 10px);
  position: relative;
  width: 100%;
  border-width: var(--input-border-width);
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding);
  background-color: var(--input-background-color);
  height: var(--input-height-calculated);
  outline: none;
  color: var(--input-text-color);
  line-height: var(--typography-p1-line-height);
  letter-spacing: var(--typography-p1-letter-spacing);
  font-family: var(--typography-p1-font-family);
  text-transform: var(--typography-p1-text-transform);
  font-size: var(--typography-p1-font-size);
}
@media (min-width: 1150px) {
  .Input_input__2WoaP {
    height: var(--input-height);
  }
}
@media (min-width: 1150px) {
  .Input_input__2WoaP {
    height: var(--input-height);
  }
}
.Input_input__2WoaP[data-is-textarea=true] {
  overflow: hidden;
  padding-top: 15px;
  height: calc(var(--input-height-calculated) + 35px);
}
.Input_input__2WoaP::-webkit-input-placeholder {
  color: var(--input-text-color);
  line-height: var(--typography-p1-line-height);
  letter-spacing: var(--typography-p1-letter-spacing);
  font-family: var(--typography-p1-font-family);
  text-transform: var(--typography-p1-text-transform);
  font-size: var(--typography-p1-font-size);
}
.Input_input__2WoaP::placeholder {
  color: var(--input-text-color);
  line-height: var(--typography-p1-line-height);
  letter-spacing: var(--typography-p1-letter-spacing);
  font-family: var(--typography-p1-font-family);
  text-transform: var(--typography-p1-text-transform);
  font-size: var(--typography-p1-font-size);
}
.Input_input__2WoaP:focus-visible::-webkit-input-placeholder {
  opacity: 0;
}
.Input_input__2WoaP:focus-visible::placeholder {
  opacity: 0;
}
.Input_input__2WoaP[data-is-error=true] {
  border-color: var(--input-error-color);
}

.Input_errorMessage__DH5vr {
  position: absolute;
  bottom: -15px;
  padding: var(--input-padding);
}

.Input_required__9DFru {
  position: absolute;
  right: 0;
  padding: var(--input-padding);
  top: 50%;
  line-height: 8px !important;
}
.FormFeedback_wrapper__Y26dL {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  width: 100%;
  background: var(--color-background);
}
@media (min-width: 768px) {
  .FormFeedback_wrapper__Y26dL {
    border: 1px solid var(--color-stroke);
    padding: 70px 33px;
    max-width: 466px;
  }
}
@media (min-width: 1150px) {
  .FormFeedback_wrapper__Y26dL {
    padding: 70px 53px;
    max-width: 506px;
  }
}
@media (min-width: 1550px) {
  .FormFeedback_wrapper__Y26dL {
    padding: 80px 68px;
    max-width: 638px;
  }
}

.FormFeedback_submitted__3A1wv {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FormFeedback_submittedEnter__27G0l {
  opacity: 0;
}

.FormFeedback_submittedEnterActive__12q6m {
  opacity: 1;
  transition: opacity 250ms;
}

.FormFeedback_submittedMessage__2Vzyc {
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 1550px) {
  .FormFeedback_submittedMessage__2Vzyc {
    margin-top: 40px;
  }
}

.FormFeedback_title__241v6 {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .FormFeedback_title__241v6 {
    margin-bottom: 20px;
  }
}
@media (min-width: 1550px) {
  .FormFeedback_title__241v6 {
    margin-bottom: 30px;
  }
}

.FormFeedback_inputFields__3q8bS {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .FormFeedback_inputFields__3q8bS {
    grid-gap: 15px;
    gap: 15px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1550px) {
  .FormFeedback_inputFields__3q8bS {
    grid-gap: 20px;
    gap: 20px;
    margin-bottom: 30px;
  }
}

.FormFeedback_privacy__3oFAT {
  margin-top: 10px;
}

.FormFeedback_popupCloseButton__3qrdv {
  width: 50px;
  height: 50px;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: none;
  cursor: pointer;
  transition: background-color 0.25s;
}
@media (min-width: 1550px) {
  .FormFeedback_popupCloseButton__3qrdv {
    width: 60px;
    height: 60px;
  }
}
.FormFeedback_popupCloseButton__3qrdv:hover {
  background-color: var(--color-accent-hover);
}
.PhotoQuote_grid__3t1z1 {
  align-items: center;
  display: grid;
}
@media (min-width: 768px) {
  .PhotoQuote_grid__3t1z1 {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (min-width: 1150px) {
  .PhotoQuote_grid__3t1z1 {
    grid-template-columns: 0.5fr 1fr;
  }
}

.PhotoQuote_photoWrapper__2RCua {
  margin-bottom: 30px;
}
.PhotoQuote_photoWrapper__2RCua[data-is-full-width=true] img {
  width: 100%;
}
@media (min-width: 768px) {
  .PhotoQuote_photoWrapper__2RCua {
    margin-bottom: 0;
  }
}

@media (min-width: 1150px) {
  .PhotoQuote_sectionContent__o7968 {
    padding: 0 209px;
  }
}
@media (min-width: 1550px) {
  .PhotoQuote_sectionContent__o7968 {
    padding: 0 263px;
  }
}

.PhotoQuote_quoteStartWrapper__GnKMn {
  margin-bottom: 30px;
}

.PhotoQuote_description__1xdT- {
  margin-bottom: 30px;
}

.PhotoQuote_quoteEndWrapper__1uWY1 {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-end;
}

.PhotoQuote_bottom__265m7 {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  max-width: 294px;
}
@media (min-width: 1550px) {
  .PhotoQuote_bottom__265m7 {
    max-width: 375px;
  }
}

.PhotoQuote_quotesIcon__3NT8a {
  width: 61px;
  height: 48px;
}
@media (min-width: 768px) {
  .PhotoQuote_quotesIcon__3NT8a {
    width: 73px;
    height: 57px;
  }
}
@media (min-width: 1550px) {
  .PhotoQuote_quotesIcon__3NT8a {
    width: 88px;
    height: 69px;
  }
}
.PhotoQuote_quotesIcon__3NT8a[data-is-end=true] {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media (min-width: 1150px) {
  .PhotoTextButton_grid__1IqjD {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "photoWrapper subTitle" "photoWrapper title" "photoWrapper description" "photoWrapper buttonWrapper";
    grid-column-gap: 73px;
    -webkit-column-gap: 73px;
            column-gap: 73px;
  }
  .PhotoTextButton_grid__1IqjD[data-is-reverse=true] {
    grid-column-gap: 125px;
    -webkit-column-gap: 125px;
            column-gap: 125px;
    grid-template-areas: "subTitle photoWrapper" "title photoWrapper" "description photoWrapper" "buttonWrapper photoWrapper";
  }
}
.PhotoTextButton_subTitle__2LTSD {
  grid-area: subTitle;
  margin-bottom: 15px;
}
@media (min-width: 1150px) {
  .PhotoTextButton_subTitle__2LTSD {
    margin-top: 37.5px;
  }
}

.PhotoTextButton_title__1ozY5 {
  grid-area: title;
  margin-bottom: 30px;
}

.PhotoTextButton_photoWrapper__yFtgl {
  grid-area: photoWrapper;
  margin-bottom: 30px;
}
@media (min-width: 1150px) {
  .PhotoTextButton_photoWrapper__yFtgl {
    margin-bottom: 0;
  }
}

.PhotoTextButton_description__35fM4 {
  grid-area: description;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .PhotoTextButton_description__35fM4 {
    max-width: 400px;
  }
}

.PhotoTextButton_buttonWrapper__3Ac_0 {
  grid-area: buttonWrapper;
}
@media (min-width: 1150px) {
  .PhotoTextButton_buttonWrapper__3Ac_0 {
    display: flex;
    margin-bottom: 37.5px;
  }
}
.PhotoTextButton_buttonWrapper__3Ac_0[data-position=center] {
  justify-content: center;
}
.PhotoTextButton_buttonWrapper__3Ac_0[data-position=right] {
  justify-content: flex-end;
}
.Technologies_subTitle__28stb {
  margin-bottom: 15px;
}

.Technologies_title__1KpPd {
  margin-bottom: 30px;
}
@media (min-width: 1550px) {
  .Technologies_title__1KpPd {
    margin-bottom: 40px;
  }
}

.Technologies_grid__1aE1v {
  display: grid;
  grid-gap: 20px;
  gap: 20px;
}
@media (min-width: 768px) {
  .Technologies_grid__1aE1v {
    grid-template-columns: var(--grid-cols-2);
  }
}
@media (min-width: 1150px) {
  .Technologies_grid__1aE1v[data-grid-columns="3"] {
    grid-template-columns: var(--grid-cols-3);
  }
  .Technologies_grid__1aE1v[data-grid-columns="4"] {
    grid-template-columns: var(--grid-cols-4);
  }
}

.Technologies_card__3O7-W {
  padding: 25px;
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-template-areas: "cardIconWrapper cardTitle" "cardIconWrapper cardSubTitle";
  grid-column-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
@media (min-width: 1550px) {
  .Technologies_card__3O7-W {
    grid-template-columns: 60px 1fr;
    padding: 30px;
    grid-column-gap: 30px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

.Technologies_cardIconWrapper__1hNmO {
  grid-area: cardIconWrapper;
}

.Technologies_cardTitle__2EpAm {
  grid-area: cardTitle;
  margin-bottom: 5px;
}
@media (min-width: 1550px) {
  .Technologies_cardTitle__2EpAm {
    margin-bottom: 10px;
  }
}

.Technologies_cardSubTitle__3ro24 {
  grid-area: cardSubTitle;
}
.Terms_subTitle__1_jfI {
  margin-bottom: 15px;
}

.Terms_title__1FwKR {
  margin-bottom: 30px;
}
@media (min-width: 1550px) {
  .Terms_title__1FwKR {
    margin-bottom: 40px;
  }
}

.Terms_slide__IZI9S {
  width: auto;
  height: auto;
  min-height: 284px;
  width: 284px;
}
@media (min-width: 768px) {
  .Terms_slide__IZI9S {
    min-height: 374px;
    width: 295px;
  }
}
@media (min-width: 1550px) {
  .Terms_slide__IZI9S {
    width: 375px;
    min-height: 447px;
  }
}

.Terms_card__3OV8z {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 25px 35px;
}

.Terms_cardSubtitle__2Irwp {
  margin-top: 10px;
}

.Terms_cardDescription__cQd7X {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .Terms_cardDescription__cQd7X {
    margin-top: 40px;
  }
}
@media (min-width: 1550px) {
  .Terms_cardDescription__cQd7X {
    margin-top: 50px;
  }
}

.Terms_cardBottom__3mX5u {
  align-self: flex-end;
}

.Terms_cardAdvantage__yAsCS {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .Terms_titleArrowsWrapper__1Io0n {
    display: flex;
    justify-content: space-between;
  }
}

.Terms_arrows__SOOvu {
  display: flex;
  grid-gap: 30px;
  gap: 30px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .Terms_arrows__SOOvu {
    margin-top: 0;
  }
}
.Video_title__3Ghk6 {
  margin-bottom: 30px;
}
@media (min-width: 1550px) {
  .Video_title__3Ghk6 {
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=main.e553e80c.chunk.css.map*/