@import "./mixins.scss";

html,
ui-kit-container {
  --button-padding: 0 15px;
  --button-height: 50px;
  --button-font-size: 14px;
  --button-width: 100%;
  --button-min-width: 0;
  --arrow-cube-dimensions: 50px;
  --grid-cols-2: repeat(2, 1fr);
  --grid-cols-3: repeat(3, 1fr);
  --grid-cols-4: repeat(4, 1fr);
  // --arrow-long-font-size: 36px;
  --arrow-long-width: 34px;
  --arrow-long-height: 16px;

  @include tablet {
    --button-width: auto;
    --button-min-width: 220px;
    --button-font-size: 16px;
  }

  @include laptop {
  }

  @include desktop {
    --arrow-cube-dimensions: 60px;
  }
}

[data-theme="light"],
[data-theme="dark"],
[data-theme="custom"] {
  --arrow-cube-default-icon-color: var(--color-text-primary);
  --button-default-text-color: var(--color-text-primary);
  --arrow-long-default-icon-color: var(--color-text-primary);
  --input-default-1-border-color: var(--color-stroke);
  --input-default-1-border-width: 0 0 1px 0;
  --input-default-1-border-radius: 0;
  --input-default-1-text-color: var(--color-text-primary);
  --input-default-1-padding: 0;
  --input-default-1-height: 60px;
  --input-default-1-error-color: #d64747;
  --input-default-1-background-color: transparent;
  --input-default-2-border-color: var(--color-stroke);
  --input-default-2-border-width: 1px 1px 1px 1px;
  --input-default-2-text-color: var(--color-text-primary);
  --input-default-2-padding: 0 20px;
  --input-default-2-height: 60px;
  --input-default-2-error-color: #d64747;
  --input-default-2-background-color: transparent;
}

[data-theme="light"],
[data-theme="dark"] {
  --color-accent: #a07f5d;
  --color-accent-hover: #b58f68;
}

[data-theme="dark"] {
  --color-text-primary: #fcfcfc;
  --color-text-secondary: #9a9a9a;
  --color-background: #2d2d2d;
  --color-stroke: #535353;
}

[data-theme="dark"],
[data-theme="custom"] {
  --stroke-border-radius: 0;
  --button-default-bg-color: var(--color-accent);
  --button-default-hover-bg: var(--color-accent-hover);
  --button-default-border: none;
  --button-default-border-radius: 0;
  --button-default-hover-border: none;
  --arrow-cube-default-bg-color: var(--color-accent);
  --arrow-cube-default-hover-bg: var(--color-accent-hover);
  --arrow-cube-default-border: none;
  --arrow-cube-cube-default-border-radius: 0;
  --arrow-cube-default-hover-border: none;
  --input-default-2-border-radius: 0;
}

[data-theme="light"] {
  --color-text-primary: #2d2d2d;
  --color-text-secondary: #8a8a8a;
  --color-background: #fcfcfc;
  --color-stroke: #dedede;
  --stroke-border-radius: 10px;
  --button-default-bg-color: var(--color-background);
  --button-default-hover-bg: var(--color-background);
  --button-default-border: 1px solid var(--color-accent);
  --button-default-border-radius: 10px;
  --button-default-hover-border: 1px solid var(--color-accent-hover);
  --arrow-cube-default-bg-color: var(--color-background);
  --arrow-cube-default-hover-bg: var(--color-background);
  --arrow-cube-default-border: 1px solid var(--color-accent);
  --arrow-cube-default-border-radius: 10px;
  --arrow-cube-default-hover-border: 1px solid var(--color-accent-hover);
  --input-default-2-border-radius: 10px;
}

[data-theme="custom"] {
  --color-accent: var(--custom-theme-color-accent);
  --color-accent-hover: var(--custom-theme-color-accent-hover);
  --color-text-primary: var(--custom-theme-color-text-primary);
  --color-text-secondary: var(--custom-theme-color-text-secondary);
  --color-background: var(--custom-theme-color-background);
  --color-stroke: var(--custom-theme-color-stroke);
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: initial;
  box-sizing: border-box;
  text-decoration: none;
}

blockquote,
dl,
body,
html,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}
