.h2 {
  line-height: var(--typography-h2-line-height);
  letter-spacing: var(--typography-h2-letter-spacing);
  font-family: var(--typography-h2-font-family);
  text-transform: var(--typography-h2-text-transform);
  font-size: var(--typography-h2-font-size);
}

.h3 {
  line-height: var(--typography-h2-line-height);
  letter-spacing: var(--typography-h2-letter-spacing);
  font-family: var(--typography-h2-font-family);
  text-transform: var(--typography-h2-text-transform);
  font-size: var(--typography-h2-font-size);
}

.h4 {
  line-height: var(--typography-h4-line-height);
  letter-spacing: var(--typography-h4-letter-spacing);
  font-family: var(--typography-h4-font-family);
  text-transform: var(--typography-h4-text-transform);
  font-size: var(--typography-h4-font-size);
}

.h5 {
  line-height: var(--typography-h5-line-height);
  letter-spacing: var(--typography-h5-letter-spacing);
  font-family: var(--typography-h5-font-family);
  text-transform: var(--typography-h5-text-transform);
  font-size: var(--typography-h5-font-size);
}

.p1 {
  line-height: var(--typography-p1-line-height);
  letter-spacing: var(--typography-p1-letter-spacing);
  font-family: var(--typography-p1-font-family);
  text-transform: var(--typography-p1-text-transform);
  font-size: var(--typography-p1-font-size);
}

.p2 {
  line-height: var(--typography-p2-line-height);
  letter-spacing: var(--typography-p2-letter-spacing);
  font-family: var(--typography-p2-font-family);
  text-transform: var(--typography-p2-text-transform);
  font-size: var(--typography-p2-font-size);
}

.accent {
  color: var(--color-accent);
}

.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.extra-1 {
  color: var(--custom-theme-color-extra-1);
}

.extra-2 {
  color: var(--custom-theme-color-extra-2);
}

.extra-3 {
  color: var(--custom-theme-color-extra-3);
}

.extra-4 {
  color: var(--custom-theme-color-extra-4);
}

.injected {
  color: var(--injected-color);
}
