@import "../../../styles/mixins";

.section {
  margin: 0 auto;
  position: relative;
  letter-spacing: normal;
  padding: 40px 0;

  @include tablet {
    padding: 60px 0;
  }

  @include laptop {
    padding: 80px 0;
  }
}

.background {
  background-color: var(--color-background);
}

.accent {
  background-color: var(--color-accent);
}

.extra-1 {
  background-color: var(--custom-theme-color-extra-1);
}

.extra-2 {
  background-color: var(--custom-theme-color-extra-2);
}

.extra-3 {
  background-color: var(--custom-theme-color-extra-3);
}

.extra-4 {
  background-color: var(--custom-theme-color-extra-4);
}

.injected {
  background-color: var(--injected-background-color);
}
