@import "../../../styles/mixins";

.section {
  margin: 0 auto;
  position: relative;
  letter-spacing: normal;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--padding-top-mobile);
  padding-bottom: var(--padding-bottom-mobile);

  @include tablet {
    padding-top: var(--padding-top-tablet);
    padding-bottom: var(--padding-bottom-tablet);
  }

  @include laptop {
    padding-top: var(--padding-top-laptop);
    padding-bottom: var(--padding-bottom-laptop);
  }

  @include desktop {
    padding-top: var(--padding-top-desktop);
    padding-bottom: var(--padding-bottom-desktop);
  }
}
