@import "../../../styles/mixins";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  gap: 33px;
}

.logoContainer {
  img {
    width: 100%;
  }
}

.right {
  display: flex;
  gap: 20px;
  align-items: center;

  @include tablet {
    gap: 30px;
  }

  @include laptop {
    gap: 40px;
  }

  @include desktop {
    gap: 60px;
  }
}

.language {
  display: flex;
  gap: 10px;
  align-items: center;
}

.languageButton {
  background: none;
  padding: 0;
  border: none;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menuContainer {
  display: flex;
  gap: 15px;
  align-items: center;
}

.button {
  transition: background-color 0.25s, border-color 0.25s;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  padding: 0;
  cursor: pointer;
  @include desktop {
    width: 60px;
    height: 60px;
  }
}

.callbackPopupContainer {
  display: flex;
  width: 100%;
  z-index: 10;
  flex-direction: column;

  gap: 10px;
  // --button-min-width: 100%;
  button {
    width: 100%;
  }
}

.menuContent {
  width: 100%;
  z-index: 3;
  padding: 20px;
  height: 100%;

  @include laptop {
    width: 50%;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }

  @include desktop {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.menuList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  @include tablet {
    margin-top: 20px;
  }

  @include laptop {
    margin-top: 75px;
  }
}

.menuItem {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  padding: 15px 0;

  @include tablet {
    padding: 20px 0;
  }
}
