@import "../../styles/mixins.scss";

constructor-container {
  display: block;

  .theme-light {
    --color-accent: #a07f5d;
    --color-accent-hover: #b58f68;
    --color-text-primary: #2d2d2d;
    --color-text-secondary: #8a8a8a;
    --color-background: #fcfcfc;
    --color-stroke: #dedede;
    --stroke-border-radius: 10px;
  }

  .theme-dark {
    --color-accent: #a07f5d;
    --color-accent-hover: #b58f68;
    --color-text-primary: #fcfcfc;
    --color-text-secondary: #9a9a9a;
    --color-background: #2d2d2d;
    --color-stroke: #535353;
    --stroke-frame-border-radius: 0;
  }

  .text-accent {
    color: var(--color-accent);
  }

  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .stroke-frame {
    border: 1px solid var(--color-stroke);
    border-radius: var(--card-stroke-frame-radius);
  }

  .with-background {
    background-color: var(--color-background);
  }

  .button {
    pointer-events: auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    transition: all 0.25s;
    cursor: pointer;

    @include tablet {
      width: fit-content;
      min-width: 220px;
    }

    font-size: 14px;
    @include desktop {
      font-size: 16px;
    }

    &:hover {
      font-weight: 500;
    }
  }

  .button-primary {
    border-radius: var(--button-primary-border-radius);
    background-color: var(--button-primary-bg-color);
    color: var(--button-primary-text-color);
    border-color: var(--button-primary-border-color);
    border-width: var(--button-primary-border-width);
    border-style: solid;
    &:hover {
      background-color: var(--button-primary-hover-bg-color);
      color: var(--button-primary-hover-text-color);
      border-color: var(--button-primary-hover-border-color);
    }
  }

  .button-secondary {
    border-radius: var(--button-secondary-border-radius);
    background-color: var(--button-secondary-bg-color);
    color: var(--button-secondary-text-color);
    border-color: var(--button-secondary-border-color);
    border-width: var(--button-secondary-border-width);
    border-style: solid;
    &:hover {
      background-color: var(--button-secondary-hover-bg-color);
      color: var(--button-secondary-hover-text-color);
      border-color: var(--button-secondary-hover-border-color);
    }
  }

  .button-tertiary {
    border-radius: var(--button-tertiary-border-radius);
    background-color: var(--button-tertiary-bg-color);
    color: var(--button-tertiary-text-color);
    border-color: var(--button-tertiary-border-color);
    border-width: var(--button-tertiary-border-width);
    border-style: solid;
    &:hover {
      background-color: var(--button-tertiary-hover-bg-color);
      color: var(--button-tertiary-hover-text-color);
      border-color: var(--button-tertiary-hover-border-color);
    }
  }

  .typography-h2 {
    line-height: var(--typography-h2-line-height);
    letter-spacing: var(--typography-h2-letter-spacing);
    font-family: var(--typography-h2-font-family);
    text-transform: var(--typography-h2-text-transform);
    font-size: var(--typography-h2-font-size-mobile);

    @include tablet {
      font-size: var(--typography-h2-font-size-tablet);
    }

    @include laptop {
      font-size: var(--typography-h2-font-size-laptop);
    }

    @include desktop {
      font-size: var(--typography-h2-font-size-desktop);
    }
  }

  .typography-h3 {
    line-height: var(--typography-h3-line-height);
    letter-spacing: var(--typography-h3-letter-spacing);
    font-family: var(--typography-h3-font-family);
    text-transform: var(--typography-h3-text-transform);
    font-size: var(--typography-h3-font-size-mobile);

    @include tablet {
      font-size: var(--typography-h3-font-size-tablet);
    }

    @include laptop {
      font-size: var(--typography-h3-font-size-laptop);
    }

    @include desktop {
      font-size: var(--typography-h3-font-size-desktop);
    }
  }

  .typography-h4 {
    line-height: var(--typography-h4-line-height);
    letter-spacing: var(--typography-h4-letter-spacing);
    font-family: var(--typography-h4-font-family);
    text-transform: var(--typography-h4-text-transform);
    font-size: var(--typography-h4-font-size-mobile);

    @include tablet {
      font-size: var(--typography-h4-font-size-tablet);
    }

    @include laptop {
      font-size: var(--typography-h4-font-size-laptop);
    }

    @include desktop {
      font-size: var(--typography-h4-font-size-desktop);
    }
  }

  .typography-h5 {
    line-height: var(--typography-h5-line-height);
    letter-spacing: var(--typography-h5-letter-spacing);
    font-family: var(--typography-h5-font-family);
    text-transform: var(--typography-h5-text-transform);
    font-size: var(--typography-h5-font-size-mobile);

    @include tablet {
      font-size: var(--typography-h5-font-size-tablet);
    }

    @include laptop {
      font-size: var(--typography-h5-font-size-laptop);
    }

    @include desktop {
      font-size: var(--typography-h5-font-size-desktop);
    }
  }

  .typography-p1 {
    line-height: var(--typography-p1-line-height);
    letter-spacing: var(--typography-p1-letter-spacing);
    font-family: var(--typography-p1-font-family);
    text-transform: var(--typography-p1-text-transform);
    font-size: var(--typography-p1-font-size-mobile);

    @include tablet {
      font-size: var(--typography-p1-font-size-tablet);
    }

    @include laptop {
      font-size: var(--typography-p1-font-size-laptop);
    }

    @include desktop {
      font-size: var(--typography-p1-font-size-desktop);
    }
  }

  .typography-p2 {
    line-height: var(--typography-p2-line-height);
    letter-spacing: var(--typography-p2-letter-spacing);
    font-family: var(--typography-p2-font-family);
    text-transform: var(--typography-p2-text-transform);
    font-size: var(--typography-p2-font-size-mobile);

    @include tablet {
      font-size: var(--typography-p2-font-size-tablet);
    }

    @include laptop {
      font-size: var(--typography-p2-font-size-laptop);
    }

    @include desktop {
      font-size: var(--typography-p2-font-size-desktop);
    }
  }

  .text-custom-1 {
    color: var(--custom-theme-color-1);
  }

  .text-custom-2 {
    color: var(--custom-theme-color-2);
  }

  .text-custom-3 {
    color: var(--custom-theme-color-3);
  }

  .text-custom-4 {
    color: var(--custom-theme-color-4);
  }

  .text-custom-5 {
    color: var(--custom-theme-color-5);
  }

  .text-custom-6 {
    color: var(--custom-theme-color-6);
  }

  .text-custom-7 {
    color: var(--custom-theme-color-7);
  }

  .text-custom-8 {
    color: var(--custom-theme-color-8);
  }

  .text-custom-9 {
    color: var(--custom-theme-color-9);
  }

  .text-custom-10 {
    color: var(--custom-theme-color-10);
  }

  .bg-custom-1 {
    background-color: var(--custom-theme-color-1);
  }

  .bg-custom-2 {
    background-color: var(--custom-theme-color-2);
  }

  .bg-custom-3 {
    background-color: var(--custom-theme-color-3);
  }

  .bg-custom-4 {
    background-color: var(--custom-theme-color-4);
  }

  .bg-custom-5 {
    background-color: var(--custom-theme-color-5);
  }

  .bg-custom-6 {
    background-color: var(--custom-theme-color-6);
  }

  .bg-custom-7 {
    background-color: var(--custom-theme-color-7);
  }

  .bg-custom-8 {
    background-color: var(--custom-theme-color-8);
  }

  .bg-custom-9 {
    background-color: var(--custom-theme-color-9);
  }

  .bg-custom-10 {
    background-color: var(--custom-theme-color-10);
  }
}
