@import "../../../styles/mixins.scss";

.wrapper {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include tablet {
    gap: 30px;
    padding: 50px;
  }

  @include desktop {
    padding: 60px;
  }

  &[data-style-type="2"] {
    padding: 0;
    @include laptop {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      .formInputButtonWrapper {
        gap: 20px;
      }

      .left {
        width: var(--style-2-width);
      }

      .right {
        width: var(--style-2-width);
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.formInputButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include tablet {
    align-items: flex-end;
    flex-direction: row;
    gap: 0;
  }
}
