@import "../../../styles/mixins.scss";

.wrapper {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include tablet {
    gap: 30px;
    padding: 50px;
  }

  @include desktop {
    padding: 60px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.formInputButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include tablet {
    flex-direction: row;
    gap: 0;
  }
}
