.baseStyles {
  cursor: pointer;
  &[data-direction="prev"] {
    transform: rotate(180deg);
  }
  transition: 0.25s;
  path {
    stroke: var(--arrow-icon-color);
    transition: stroke 0.25s;
  }
}

.cube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--arrow-cube-dimensions);
  height: var(--arrow-cube-dimensions);
}

.cubeDefault {
  border-radius: var(--arrow-cube-default-border-radius);
  background-color: var(--arrow-cube-default-bg-color);
  border: var(--arrow-cube-default-border);
  border-radius: var(--arrow-cube-default-border-radius);
  --arrow-icon-color: var(--arrow-cube-default-icon-color);
  &:hover {
    background-color: var(--arrow-cube-default-hover-bg);
    border: var(--arrow-cube-default-hover-border);
    --arrow-icon-color: var(--arrow-cube-default-icon-color-hover);
  }
}

.cubePrimary {
  border-radius: var(--arrow-cube-primary-border-radius);
  background-color: var(--arrow-cube-primary-bg-color);
  border-color: var(--arrow-cube-primary-border-color);
  border-width: var(--arrow-cube-primary-border-width);
  border-style: solid;
  --arrow-icon-color: var(--arrow-cube-primary-icon-color);
  &:hover {
    background-color: var(--arrow-cube-primary-hover-bg-color);
    border-color: var(--arrow-cube-primary-hover-border-color);
    --arrow-icon-color: var(--arrow-cube-primary-hover-icon-color);
  }
}

.cubeSecondary {
  border-radius: var(--arrow-cube-secondary-border-radius);
  background-color: var(--arrow-cube-secondary-bg-color);

  border-color: var(--arrow-cube-secondary-border-color);
  border-width: var(--arrow-cube-secondary-border-width);
  border-style: solid;
  --arrow-icon-color: var(--arrow-cube-secondary-icon-color);
  &:hover {
    background-color: var(--arrow-cube-secondary-hover-bg-color);

    border-color: var(--arrow-cube-secondary-hover-border-color);
    --arrow-icon-color: var(--arrow-cube-secondary-hover-icon-color);
  }
}

.cubeTertiary {
  border-radius: var(--arrow-cube-tertiary-border-radius);
  background-color: var(--arrow-cube-tertiary-bg-color);
  border-color: var(--arrow-cube-tertiary-border-color);
  border-width: var(--arrow-cube-tertiary-border-width);
  border-style: solid;
  --arrow-icon-color: var(--arrow-cube-tertiary-icon-color);

  &:hover {
    background-color: var(--arrow-cube-tertiary-hover-bg-color);
    border-color: var(--arrow-cube-tertiary-hover-border-color);
    --arrow-icon-color: var(--arrow-cube-tertiary-hover-icon-color);
  }
}

.long {
  border: none;
  background: transparent;
  outline: none;
  width: var(--arrow);
}

.longDefault {
  --arrow-icon-color: var(--arrow-long-default-icon-color);
}

.longCustom {
  --arrow-icon-color: var(--arrow-long-custom-icon-color);
}
