@import "../../../styles/mixins";

.submitted {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;

  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submittedEnter {
  opacity: 0;
}

.submittedEnterActive {
  opacity: 1;
  transition: opacity 250ms;
}

.submittedMessage {
  margin-top: 30px;
  text-align: center;

  @include desktop {
    margin-top: 40px;
  }
}
