@import "../../../styles/mixins.scss";

.contentContainer {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;

  @include tablet {
    padding: 0 30px;
  }

  @include laptop {
    max-width: 1300px;
  }

  @include desktop {
    max-width: 1620px;
  }
}
